@model ap.Models.Cliente

@{
    ViewBag.Title = "Eliminar Cliente";
}

<h2>Eliminar Cliente</h2>

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}

<p>¿Estás seguro de que deseas eliminar el cliente @Model.Nombre @Model.Apellido?</p>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(m => m.IdCliente) <!-- Necesario para pasar el Id del cliente -->

    <button type="submit" class="btn btn-danger">Eliminar</button>
    <a href="@Url.Action("Index")" class="btn btn-secondary">Cancelar</a>
}
